Repository mahdieha/gitlab-parent-child-pipelines: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger module 1/2, trigger module 2/2

trigger module 1/2:
  stage: trigger-module
  trigger:
    include: module-one/gitlab-module-one.yml

trigger module 2/2:
  stage: trigger-module
  trigger:
    include: module-two/gitlab-module-two.yml

Initial commit
  README.md
Due: none

Initial commit
  .gitignore
  module-one/gitlab-ci-module-one.yml
  module-one/pom.xml
  module-one/src/main/java/com/gitlab/module/one/ModuleOneLauncher.java
  module-one/src/main/resources/application.yml
  module-two/gitlab-ci-module-two.yml
  module-two/pom.xml
  module-two/src/main/java/com/gitlab/module/two/ModuleTwoLauncher.java
  module-two/src/main/resources/application.yml
  pom.xml
Due: trigger module 1/2, trigger module 2/2

init commit.
  .gitlab-ci.yml
  module-two/gitlab-ci-module-two.yml
Due: trigger module 2/2

init commit.
  module-one/gitlab-ci-module-one.yml
  module-two/gitlab-ci-module-two.yml
Due: trigger module 1/2, trigger module 2/2

init commit.
  .gitlab-ci.yml
Due: none

add README.md file.
  README.md
Due: none

Path conditions:
  trigger module 1/2: any of: module-one/*
  trigger module 2/2: any of: module-two/*
